[submodule "libs/NewYorkTimesData"]
	path = libs/NewYorkTimesData
	url = https://github.com/AlbaErik/AKNewYork1-NewYorkTimesData.git
[submodule "libs/lastfm"]
	path = libs/lastfm
	url = https://github.com/brancomartinezc/LastFM-Lisboa2.git
